*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;;
}
body{
    background-color: rgba(217, 232, 241, 0.699);
}
.cal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 17, 17, 0.76);
    width:400px;
    padding:1rem;
    margin: 5rem auto;
}
.result{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    border:1px solid black;
    padding:1rem;
    width:360px;
    height:100px;
    font-size: 2rem;;

}
button{
    border: 1px solid black;
    cursor:pointer;
}
.reset{
    display:flex;
    width:360px;
    gap:10px;
    margin:1rem 0 0.5rem 0;

}
.reset > button{
    width:300px;
    height:50px;

}
.clear{
    background-color: rgba(189, 89, 89, 0.637);
}
.delete{
    background-color:rgb(46, 46, 172)
}

.numbers_and_operators > button{
    width:80px;
    height:60px;
    margin:.2rem;
}