*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;;
}
body{
    background-color: rgba(217, 232, 241, 0.699);
}
.cal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(106, 118, 126, 0.493);
    width:400px;
    padding:1rem;
    margin: 5rem auto;
}
.display_result{
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: flex-end;
    gap:10px;
    border:1px solid black;
    padding:1rem;
    width:360px;
    min-height:100px; 
    background-color: rgba(217, 232, 241, 0.699);
    word-break: break-all;

}
.display{
    font-size:.8rem;
}
.result{
    padding-top:-0.5rem;
    font-size:2rem;
}
button, button[disabled]{
    border: 2px solid black;
    border-radius: 3px;
    cursor:pointer;
}
.reset{
    display:flex;
    width:360px;
    gap:10px;
    margin:1rem 0 0.5rem 0;

}
.reset > button{
    width:300px;
    height:50px;

}
.clear{
    background-color: rgba(189, 89, 89, 0.637);
}
.delete{
    background-color:rgb(46, 46, 172)
}

.numbers_and_operators > button{
    width:80px;
    height:60px;
    margin:.2rem;
}