*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(240, 17, 17, 0.76);
    margin:20%;
}